@import "src/styles";

.post-card {
  margin: 20px;
}

.card {
  width: 1000px;
  height: auto;
  flex: 0 0 auto;
  margin: 0;
  padding: 30px;
}

.trashBtn {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 50px;
  height: 50px;
}

.trashBtn:hover {
  fa-icon {
    color: $secondary-color;
  }
}

.comment-trash-icon {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: black;
}

.post-content {
  border-radius: 10px 10px 0 0;
  background-color: $grey-color;
}

.comment-content {
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.comment-group {
  padding: 7px 0;
}

.user-img {
  border-radius: 100%;
  border: 1px solid $grey-color;
  object-fit: fill;
  width: 50px;
  height: 50px;
}

.user-comment {
  width: auto;
  max-width: 800px;
  height: auto;
  padding: 15px 20px;
  margin: 0 20px;
  border-radius: 40px;
  border: 1px solid $grey-color;
}

.user-input {
  width: 90%;
  height: 50px;
  padding: 15px 20px;
  margin: 0 20px;
  border-radius: 40px;
  border: 1px solid $grey-color;
}
