<div class="dashboard-box">
  <h2 class="header-title">Welcome</h2>
  <!--  Will eventually need to customize to specific restaurant name -->

  <div class="all-orders">
    <button class="btn all-orders">View All Orders</button>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="New Orders">
      <div class="new-orders" *ngFor="let order of new_orders">
        <div *ngIf="new_orders.length > 0">
          <app-order-card [order]="order"></app-order-card>
        </div>
      </div>
      <div *ngIf="new_orders.length === 0">
        <img
          class="no-orders-image"
          src="assets/images/undraw_receipt_ecdd.png"
        />
        <p class="no-orders">Currently no orders!</p>
      </div>
    </mat-tab>
    <mat-tab label="In-Progress">
      <div class="in-progress" *ngFor="let order of in_progress">
        <div *ngIf="in_progress.length > 0">
          <app-order-card [order]="order"></app-order-card>
        </div>
      </div>
      <div *ngIf="in_progress.length === 0">
        <img
          class="no-orders-image"
          src="assets/images/undraw_booking_33fn.png"
        />
        <p class="no-orders">Currently no orders!</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
