@import "src/styles";

.header-title {
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-size: 50px;
}

.all-orders {
  text-align: center;
}

.dashboard-box {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.no-orders-image {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-orders {
  text-align: center;
}
