<div class="dashboard-box">
  <h2 class="header-title">Welcome</h2>
  <!--  Will eventually need to customize to specific restaurant name -->

  <div class="all-orders">
    <button class="btn all-orders">View All Orders</button>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="New Orders">
      <div class="new-orders" *ngFor="let order of orders">
        <div *ngIf="!orders">
          <app-order-card
            *ngIf="!order.AccDec_Timestamp"
            [order]="order"
          ></app-order-card>
        </div>
      </div>
      <div *ngIf="orders">
        <img
          class="no-orders-image"
          src="assets/images/undraw_receipt_ecdd.png"
        />
        <p class="no-orders">Currently no orders!</p>
      </div>
    </mat-tab>
    <mat-tab label="In-Progress">
      <div class="in-progress" *ngFor="let order of orders">
        <app-order-card
          *ngIf="order.AccDec_Timestamp && !order.Complete_Timestamp"
          [order]="order"
        ></app-order-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- <div class="dashboard-box">
  <app-order-card *ngFor="let order of orders" [order]="order"></app-order-card>
</div> -->
