<div class="center">
  <h2>Initial Set Up</h2>
  <p>
    Please provide menu items.
  </p>
  <br />
  <button class="btn" (click)="openAddDish(addModal)">
    ADD NEW DISH
  </button>
</div>

<div class="dishes">
  <div class="row equal">
    <div *ngFor="let dish of dishes" class="col-sm-4 d-flex">
      <app-dish-card [dish]="dish"></app-dish-card>
    </div>
  </div>
  <div class="text-right">
    <button class="btn" (click)="goToHome()">
      SAVE & NEXT
    </button>
  </div>
</div>

<img class="bottom-left" src="assets/images/undraw_publish_post_vowb.png" />

<ng-template #addModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add Dish</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="uploadForm" (ngSubmit)="addDish()" class="form-box">
      <div class="form-group">
        <label for="dishName" class="required">
          Dish Name <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="dishName"
          [(ngModel)]="dishName"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex: Spicy Chicken"
          required
        />
      </div>

      <div class="form-group">
        <label for="price" class="required">
          Price <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="price"
          [(ngModel)]="price"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex: 12.99"
          required
        />
      </div>

      <div class="form-group">
        <label for="menuCategory" class="required">
          Menu Category <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="menuCategory"
          [(ngModel)]="menuCategory"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex: Appetizer"
          required
        />
      </div>

      <div class="form-group">
        <label for="cuisine" class="required">
          Cuisine <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="cuisine"
          [(ngModel)]="cuisine"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex: Indian"
          required
        />
      </div>

      <div class="form-group">
        <label for="dishInfo" class="required">
          Dish Information <span class="text-danger">*</span>
        </label>
        <textarea
          class="form-control"
          id="dishInfo"
          [(ngModel)]="dishInfo"
          [ngModelOptions]="{ standalone: true }"
          rows="4"
          placeholder="Tell customers the story of your dish..."
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="allergy" class="required">
          Allergy Warnings <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="allergy"
          [(ngModel)]="allergy"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Ex: Nuts, Peanut"
          required
        />
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="dish">Add dish image:</label>
          <input
            type="file"
            name="dish"
            id="dish"
            (change)="onFileSelect($event)"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn skip" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button class="btn" type="submit" (click)="addDish()">
        ADD DISH
      </button>
    </div>
  </div>
</ng-template>
