<h2 class="header-title">All Restaurants</h2>

<mat-tab-group>
    <mat-tab label="Restaurant"> 
        <div class="all-listings-box">
            <div class="row">
                <div class="col-md-4">
                    <app-filterlist-card [category]="'Rating'" [subcategories]="['1 star', '2 star', '3 star', '4 star', '5 star']"
                    [length]="5" (events)="displayList($event)"></app-filterlist-card>
                    <app-filterlist-card [category]="'Price Range'" [subcategories]="['$', '$$', '$$$']"
                    [length]="3" (events)="displayList($event)"></app-filterlist-card>
                    <app-filterlist-card [category]="'Filter'" [subcategories]="['Category', 'Category', 'Category', 'Category', 'Category']"
                    [length]="5" (events)="displayList($event)"></app-filterlist-card>
                </div>
                    <div class="col-md-8">
                        <app-restaurant-card *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></app-restaurant-card>
                    </div>
                </div>
            </div>
    </mat-tab>
    <mat-tab label="Dishes"> Dishes </mat-tab>
</mat-tab-group> 
  
<img class="chef" src="../../../assets/images/undraw_chef.png"> 