@import "src/styles";

.header-title{
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-size: 50px;
}

.chef{
    max-width: 15%;
    position: relative;
}

.search-bar-narrow{
    width: 35%;
    float: left;
    padding-left: 15%;
}

.restaurant-listing-wide{
    width: 65%;
    float: left;
    padding-left: 5%;
}