@import "src/styles";

.review-card {
  width: 100%;
  height: auto;
  padding: 50px;
  margin: 20px auto;
}

.review-user-img {
  width: 60px;
  height: 60px;
  margin-right: 50px;
  border-radius: 100%;
}
