<h2 class="title">Timeline</h2>

<h2 *ngIf="restaurantId" class="no-posts">
  For {{ restaurantName | titlecase }}
</h2>

<div *ngIf="role == 'RO' && posts.length != 0" style="text-align: center;">
  <button class="btn new-post">
    NEW POST
  </button>
</div>

<div *ngIf="posts.length == 0" style="text-align: center;">
  <h2 class="no-posts">No Posts!</h2>
  <br />
  <img class="empty-image" src="assets/images/undraw_begin_chat_c6pj.png" />
  <br />
  <button *ngIf="role == 'RO'" class="btn convo-start">
    START A CONVERSATION
  </button>
</div>

<div *ngFor="let post of posts" class="d-flex justify-content-center">
  <app-timeline-post
    [post]="post"
    [role]="role"
    [id]="userId"
  ></app-timeline-post>
</div>

<img class="bottom-left" src="assets/images/undraw_Group_chat_unwm.png" />
