@import "src/styles";

.title {
  text-align: center;
  margin: 30px;
}

.new-post {
  width: 250px;
}

.no-posts {
  font-size: 20px;
  text-align: center;
}

.empty-image {
  width: 500px;
  height: auto;
}

.convo-start {
  width: 400px;
}
