<div class="card cardBox">
  <div class="row">
    <div class="col-md-6">
      <h2>Order #{{ order.id }}</h2>
      <p class="body-text"><b>Name:</b> {{ order.name }}</p>
      <p class="body-text"><b>Email:</b> {{ order.email }}</p>
      <p class="body-text"><b>Phone Number:</b> {{ order.phone }}</p>
    </div>
    <div class="col-md-6">
      <div class="orders" *ngFor="let dish of order.dishes">
        <p class="dishes">{{ dish.quantity }} x {{ dish.name }}</p>
      </div>
      <div class="row buttons">
        <button class="btn cancel">
          Cancel
        </button>
        <button class="btn accept" *ngIf="!order.AccDec_Timestamp">
          Accept
        </button>
        <button class="btn complete" *ngIf="order.AccDec_Timestamp">
          Complete
        </button>
      </div>
    </div>
  </div>
</div>
