[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.8"

[packages]
waitress = "*"
dnspython = "*"
pymongo = "*"
django = "==2.2.8"
djongo = "==1.2.38"
django-cors-headers = "*"
faker = "*"
