<router-outlet></router-outlet>

<img src="assets/images/food/background.jpg" alt="header" class="header-img" />
<div class="header">
  Celebrating Amazing People and Food in Scarborough
</div>

<button class="scroll-down-btn" (click)="scrollDown()">
  <fa-icon class="header-down-icon icon" [icon]="faArrowCircleDown"></fa-icon>
</button>

<div id="scroll"></div>

<div class="overview-section row" data-aos="fade-right">
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_chef.png"
      class="overview-icons"
      alt="chef"
    />
    <h2>Local Businesses</h2>
    <p>
      Support local Scarborough businesses in times of need. Let them tell you
      their history and story through their foods!
    </p>
  </div>
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_cooking.png"
      class="overview-icons"
      alt="cooking"
    />
    <h2>Family Recipes</h2>
    <p>
      Learn from professional chefs and their best selling recipes from the
      comfort of your home!
    </p>
  </div>
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_shopping.png"
      class="overview-icons"
      alt="shopping"
    />
    <h2>Order Today</h2>
    <p>
      What are you waiting for? Sign up and get your food right to your
      doorstep!
    </p>
    <button
      (click)="auth.login()"
      class="btn"
      placement="top"
      ngbTooltip="Create An Account"
    >
      Sign Up →
    </button>
  </div>
</div>

<carousel [isAnimated]="true" [interval]="5000">
  <slide>
    <img
      src="assets/images/food/dim-sum.jpg"
      alt="first slide"
      class="carousel-images"
    />
    <div class="carousel-caption d-none d-md-block">
      <h2>Taste the Streets of China</h2>
      <p>
        Enjoy some of the freshest and tastiest Chinese cuisine that Scarborough
        has to offer
      </p>
    </div>
  </slide>
  <slide>
    <img
      src="assets/images/food/indian.jpg"
      alt="second slide"
      class="carousel-images"
    />
    <div class="carousel-caption d-none d-md-block">
      <h2>Taste the Spices of India</h2>
      <p>
        Let Scarborough restaurants transport you taste buds to the spice
        markets of India
      </p>
    </div>
  </slide>
  <slide>
    <img
      src="assets/images/food/vegetarian.jpg"
      alt="third slide"
      class="carousel-images"
    />
    <div class="carousel-caption d-none d-md-block">
      <h2>Something for Everyone</h2>
      <p>
        Find Dining Scarborough has a wide variety of cuisines to cater for all
        dietrary restrictions
      </p>
    </div>
  </slide>
</carousel>

<div class="bg1">
  <div class="cuisine-carousel" data-aos="fade-left">
    <h2 class="heading">Stories</h2>
    <ivy-carousel
      *ngIf="stories.length >= 5"
      [images]="stories"
      [margin]="30"
      [arrowsOutside]="arrowsOutside"
      [borderRadius]="20"
      [cellWidth]="500"
      [height]="400"
    >
    </ivy-carousel>
  </div>
</div>

<div class="bg2">
  <div class="cuisine-carousel" data-aos="fade-right">
    <h2 class="heading">Specials</h2>
    <ivy-carousel
      *ngIf="dishes.length >= 5"
      [images]="dishes"
      [margin]="30"
      [arrowsOutside]="arrowsOutside"
      [borderRadius]="20"
      [cellWidth]="300"
      [height]="400"
    >
    </ivy-carousel>
  </div>
</div>

<div class="overview-section row" data-aos="fade-left">
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_book.png"
      class="overview-icons"
      alt="chef"
    />
    <h2>Learn</h2>
    <p>
      Learn the local history and foods, and the adventures of the Scarborough
      restuarant owners in their lifetime.
    </p>
  </div>
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_business.png"
      class="overview-icons"
      alt="cooking"
    />
    <h2>Connect</h2>
    <p>
      Become a partner of Find Dining Scarborough to help spread awareness of
      great cuisines in Scarborough.
    </p>
  </div>
  <div class="col overview-grid">
    <img
      src="assets/images/undraw_search.png"
      class="overview-icons"
      alt="shopping"
    />
    <h2>Search</h2>
    <p>
      Dynamic and easy searching to help you search for desired dishes,
      cuisines, restaurants, you name it!
    </p>
  </div>
</div>

<div class="bg2">
  <div class="cuisine-carousel" data-aos="fade-right">
    <h2 class="heading">Cuisines</h2>
    <ivy-carousel
      [images]="cuisines"
      [margin]="20"
      [arrowsOutside]="arrowsOutside"
      [borderRadius]="20"
      [cellWidth]="300"
    >
    </ivy-carousel>
  </div>
</div>

<div class="bg1" style="text-align: center;">
  <h2 class="heading">Ready to explore?</h2>
  <br />
  <button
    (click)="auth.login()"
    class="btn get-started-btn"
    placement="top"
    ngbTooltip="Create/Login to An Account"
  >
    LOGIN/SIGNUP
  </button>
  <button
    (click)="browseListings()"
    class="btn get-started-btn"
    placement="top"
    ngbTooltip="Explore Available Restaurants"
  >
    BROWSE
  </button>
  <button
    (click)="browseStories()"
    class="btn get-started-btn"
    placement="top"
    ngbTooltip="Explore The Stories of Restaurants"
  >
    VIEW STORIES
  </button>
</div>

<button *ngIf="isShow" class="scroll-top-btn" (click)="gotoTop()">
  <fa-icon class="top-icon icon" [icon]="faArrowCircleUp"></fa-icon>
</button>

<ng-template #userInfo let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-profile-title">Profile Information</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input
            id="name"
            class="form-control"
            value="{{ userData.name }}"
            placeholder="Ex: Jane Doe"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <div class="input-group">
          <input
            id="address"
            class="form-control"
            value="{{ userData.address }}"
            placeholder="Ex: 123 Address Ave"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number (10 digits no dashes)</label>
        <div class="input-group">
          <input
            id="phone"
            class="form-control"
            value="{{ userData.phone }}"
            placeholder="Ex: 6471234657"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth (YYYY-MM-DD) </label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="YYYY-MM-DD"
            value="{{ userData.birthday }}"
            name="dp"
            ngbDatepicker
            [minDate]="{ year: 1900, month: 1, day: 1 }"
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn calendar-date"
              (click)="dp.toggle()"
              type="button"
            >
              <fa-icon class="calendar-icon icon" [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="updateProfile()">
      Save
    </button>
  </div>
</ng-template>
