@import "src/styles";

.logo {
  height: 75px;
  width: auto;
  margin-right: 50px;
}

.navbar {
  background-color: $primary-color;
  z-index: 100;
}

.navbar-brand {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
  margin-left: 10px;
  color: $navigation-color;
}

.navbar-brand:hover {
  color: $navigation-accent-color;
}

.nav-link {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: $navigation-color;
  margin: 0;
}

.btn {
  margin: 5px;
}

.nav-link:hover {
  color: $navigation-accent-color;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
  color: $navigation-accent-color;
}

.upgrade-button {
  border-radius: 30px;
  border-width: medium;
  border-color: white;
  background-color: $primary-color;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $navigation-color;
  font-weight: 700;
  padding: 5px 5px 5px 5px;
  margin-right: 20px;
}

.upgrade-button:hover {
  color: $navigation-accent-color;
}

.confirm {
  padding: 5px 30px;
}

.cancel {
  background-color: white;
  color: $secondary-color;
  border-color: $secondary-color;
}

.cancel:hover {
  background-color: $secondary-color;
  color: white;
}

.dropdown {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

.address:hover {
  color: white;
}

.dropdown:hover {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  margin: 0;
  padding: 0;
}

.address-icon {
  font-size: 15px;
}
