<nav class="navbar navbar-expand-lg">
  <img src="../../../assets/images/scarborough_dining.png" class="logo" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link">
        <a routerLink="/" class="nav-link">
          HOME
        </a>
      </li>

      <li class="nav-item nav-link" *ngIf="auth.loggedIn && role == 'BU'">
        <div ngbDropdown class="d-inline-block">
          <button class="btn dropdown" id="dropdownBasic1" ngbDropdownToggle>
            USER INFO
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownProfile">
            <button ngbDropdownItem (click)="profile()">
              Profile
            </button>
            <button ngbDropdownItem (click)="favourites()">
              Favourites
            </button>
          </div>
        </div>
      </li>
      <li class="nav-item nav-link" *ngIf="role == 'RO'">
        <a routerLink="dashboard" routerLinkActive="active" class="nav-link">
          DASHBOARD
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="auth.loggedIn && role == 'RO'">
        <a routerLink="restaurant" routerLinkActive="active" class="nav-link">
          RESTAURANT PAGE
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="auth.loggedIn && role == 'BU'">
        <div ngbDropdown class="d-inline-block">
          <button class="btn dropdown" id="dropdownBasic1" ngbDropdownToggle>
            BROWSE
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBrowse">
            <button ngbDropdownItem (click)="browse()">
              Restaurants
            </button>
            <button ngbDropdownItem (click)="timeline()">
              Timeline
            </button>
            <button ngbDropdownItem (click)="owners()">
              Chefs
            </button>
          </div>
        </div>
      </li>

      <li class="nav-item nav-link" *ngIf="!auth.loggedIn">
        <a routerLinkActive="active" class="nav-link" (click)="browse()">
          BROWSE
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="!auth.loggedIn || role == 'RO'">
        <a routerLinkActive="active" class="nav-link" (click)="timeline()">
          TIMELINE
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="!auth.loggedIn">
        <a routerLinkActive="active" class="nav-link" (click)="owners()">
          CHEFS
        </a>
      </li>
      <li *ngIf="role == 'BU'" class="nav-item nav-link">
        <a routerLink="checkout" routerLinkActive="active" class="nav-link">
          CART
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="role == 'BU'" class="nav-item nav-link">
        <p class="nav-link address" *ngIf="this.userAddress">
          <fa-icon class="address-icon icon" [icon]="faMapMarkerAlt"></fa-icon>
          {{ this.userAddress | titlecase }}
        </p>
        <p class="nav-link address" *ngIf="!this.userAddress">
          No Address Provided
          <fa-icon class="address-icon icon" [icon]="faMapMarkerAlt"></fa-icon>
        </p>
      </li>
      <li class="nav-item nav-link">
        <button
          type="button"
          class="upgrade-button"
          *ngIf="auth.loggedIn && role == 'BU'"
          (click)="openModal(content)"
        >
          Upgrade to Restaurant Account
        </button>
      </li>
      <li class="nav-item nav-link">
        <a (click)="auth.login()" *ngIf="!auth.loggedIn" class="nav-link">
          LOG IN
        </a>
        <a
          (click)="reload(); auth.logout()"
          *ngIf="auth.loggedIn"
          class="nav-link"
        >
          LOG OUT
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">
      Confirm Account Upgrade
    </h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-box">
      <div class="form-group">
        Are you sure you want to upgrade this account to a restaurant account?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn confirm cancel" (click)="modal.dismiss('Cross click')">
        CANCEL
      </button>
      <button
        class="btn confirm"
        (click)="goToSetup()"
        [routerLink]="['../restaurant-setup']"
      >
        CONFIRM
      </button>
    </div>
  </div>
</ng-template>
