<nav class="navbar navbar-expand-lg">
  <img src="assets/images/icon.png" style="height: 75px; width: auto;" />
  <a class="navbar-brand" href="#">Scarborough Dining</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="role == 'RO'" class="nav-item nav-link">
        <a
          routerLink="/"
          [queryParams]="{
            role: role,
            userId: userId,
            restaurantId: restaurantId
          }"
          class="nav-link"
        >
          HOME
        </a>
      </li>
      <li *ngIf="role != 'RO'" class="nav-item nav-link">
        <a
          routerLink="/"
          [queryParams]="{
            role: role,
            userId: userId
          }"
          class="nav-link"
        >
          HOME
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="auth.loggedIn && role == 'BU'">
        <a
          routerLink="profile"
          [queryParams]="{ role: role, userId: userId }"
          routerLinkActive="active"
          class="nav-link"
        >
          PROFILE
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="role == 'RO'">
        <a
          routerLink="dashboard"
          [queryParams]="{
            role: role,
            userId: userId,
            restaurantId: restaurantId
          }"
          routerLinkActive="active"
          class="nav-link"
        >
          DASHBOARD
        </a>
      </li>
      <li class="nav-item nav-link" *ngIf="auth.loggedIn && role == 'RO'">
        <a
          routerLink="restaurant"
          [queryParams]="{
            role: role,
            userId: userId,
            restaurantId: restaurantId
          }"
          routerLinkActive="active"
          class="nav-link"
        >
          RESTAURANT PAGE
        </a>
      </li>
      <li class="nav-item nav-link">
        <a
          routerLink="all-listings"
          [queryParams]="{
            role: role,
            userId: userId
          }"
          *ngIf="role != 'RO'"
          routerLinkActive="active"
          class="nav-link"
        >
          BROWSE
        </a>
      </li>
      <li *ngIf="role == 'RO'" class="nav-item nav-link">
        <a
          routerLink="timeline"
          [queryParams]="{
            role: role,
            userId: userId,
            restaurantId: restaurantId
          }"
          routerLinkActive="active"
          class="nav-link"
        >
          TIMELINE
        </a>
      </li>
      <li *ngIf="role != 'RO'" class="nav-item nav-link">
        <a
          routerLink="timeline"
          [queryParams]="{
            role: role,
            userId: userId
          }"
          routerLinkActive="active"
          class="nav-link"
        >
          TIMELINE
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <button
        type="button"
        class="upgrade-button"
        *ngIf="auth.loggedIn && role == 'BU'"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Upgrade to Restaurant Account
      </button>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Confirm Account Upgrade
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to upgrade this account to a restaurant
              account?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
              >
                Exit
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                *ngIf="auth.loggedIn"
                data-dismiss="modal"
                [routerLink]="['../restaurant-setup']"
                [queryParams]="{
                  userId: userId
                }"
              >
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
      <li class="nav-item">
        <a (click)="auth.login()" *ngIf="!auth.loggedIn" class="nav-link">
          LOG IN
        </a>
        <a (click)="auth.logout()" *ngIf="auth.loggedIn" class="nav-link">
          LOG OUT
        </a>
      </li>
    </ul>
  </div>
</nav>
