<div class="center" style="margin-top: 40px;">
  <h2>Favourites</h2>
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Restaurants">
    <div class="center">
      <img src="assets/images/undraw_with_love_ajy1.png" class="image" />
      <p>Currently no favourite restaurants saved!</p>
    </div>
  </mat-tab>
  <mat-tab label="Dishes">
    <div class="center">
      <img src="assets/images/undraw_with_love_ajy1.png" class="image" />
      <p>Currently no favourite dishes saved!</p>
    </div>
  </mat-tab>
</mat-tab-group>
