@import "src/styles";

fa-icon {
  color: black;
}

mat-tab-group {
  margin: 75px 20%;

  @media screen and (max-width: 1500px) {
    margin: 75px;
  }
}

ngb-alert {
  margin: 30px 10%;
}

.inline {
  display: inline-block;
}

.row-text {
  margin-top: 2px;
}

.header-img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.infoCard {
  width: 600px;
  height: 225px;
  padding: 35px;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
  position: absolute;
  top: 300px;
  left: 50px;

  @media screen and (max-width: 850px) {
    top: 200px;
    left: 25px;
    width: 90%;
    height: auto;
  }
}

.restaurant-name {
  font-size: 40px;
}

.contact-wrapper {
  width: 180px;
  word-wrap: break-word;

  @media screen and (max-width: 850px) {
    left: 50px;
  }
}

.contact-icon {
  font-size: 20px;
}

.media-icons {
  position: absolute;
  top: 135px;
  width: 220px;

  @media screen and (max-width: 850px) {
    position: relative;
    top: 20px;
  }
}

.media-icon {
  font-size: 30px;
  float: right;
}

.updatesBtn {
  position: absolute;
  top: 550px;
  left: 200px;
  width: 300px;
  height: 60px;
  font-size: 17px;
  border: solid 8px white;
  border-radius: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;

  @media screen and (max-width: 850px) {
    top: 600px;
    left: 50px;
  }
}

.bio-card {
  width: 700px;
  height: auto;
  margin: 30px auto;
  padding: 40px 75px;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);

  @media screen and (max-width: 900px) {
    width: 90%;
  }
}
