<div class="owner-page">
  <div class="owner-listings-box">
    <h2>Find Dining Scarborough Owners</h2>
    <p>Meet the faces of Find Dining Scarborough and their culinary story</p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row equal">
          <div *ngFor="let story of this.allStories" class="col-sm-6 d-flex">
            <app-owner-card [story]="story"></app-owner-card>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
