<div class = "payment-page">
    <div class="payment-box">
      <div class="payment-header">
          <h2>Payment</h2>
          <p>Please fill out the fields below and hit submit to process payment.</p>
      </div>
      <form>
        <div class="cardInformation">
          <h4>Card Information</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend input-group-lg">
              <span class="input-group-text input-addon" id="basic-addon1"><fa-icon class="payment-icons" [icon]="faCreditCard"></fa-icon> </span>
            </div>
            <input type="text" class="form-control" id="cardNumber" placeholder="Card Number">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend input-group-lg">
              <span class="input-group-text input-addon" id="basic-addon1">
                <fa-icon class="payment-icons" [icon]="faUser"></fa-icon>
              </span>
            </div>
            <input type="text" aria-label="First name" class="form-control" placeholder="Cardholder First Name">
            <input type="text" aria-label="Last name" class="form-control" placeholder="Cardholder Last Name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend input-group-lg">
              <span class="input-group-text input-addon" id="basic-addon1"><fa-icon class="payment-icons" [icon]="faCalendarAlt"></fa-icon>
              </span>
            </div>
            <input type="text" class="form-control" id="cardExpiry" placeholder="Card Expiry: MM/YY">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend input-group-lg">
              <span class="input-group-text input-addon" id="basic-addon1"><fa-icon class="payment-icons" [icon]="faKey"></fa-icon>
              </span>
            </div>
            <input type="text" class="form-control" id="cardCVV" placeholder="CVV: 123">
          </div>
      </div>
        <div class="billing">
            <h4>Billing Information</h4>
        </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Ex: Jane">
              </div>
              <div class="form-group col-md-6">
                  <label for="inputLastNasme">Last Name</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Ex: Doe">
              </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>           
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="Ex: Toronto">
            </div>
            <div class="form-group col-md-4">
              <label for="inputProvince">Province</label>
              <select id="inputProvince" class="form-control">
                <option selected>Choose...</option>
                <option>Albert</option>
                <option>British Columbia</option>
                <option>Maintoba</option>
                <option>New Brunswick</option>
                <option>Northwest Territories</option>
                <option>Nova Scotia</option>
                <option>Nunavut</option>
                <option>Ontario</option>
                <option>Price Edward Island</option>
                <option>Quebec </option>
                <option>Saskatchewan</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputPostal">Postal Code</label>
              <input type="text" class="form-control" id="inputPostal" placeholder="Ex: M1C 1A4">
            </div>
          </div>
          <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                <label class="form-check-label" for="invalidCheck2">
                  I Agree to terms and conditions.
                </label>
              </div>
            </div>
          <div class="submit">
              <button class="btn btn-outline-secondary">Pay Now!</button>
          </div>
      </form>
    </div>
</div>