$primary-color: rgb(155, 50, 50);
$secondary-color: rgb(189, 96, 96);
$dark-color: rgb(7, 27, 48);

$background-color1: white;
$background-color2: rgb(240, 240, 240);

$navigation-color: white;
$navigation-accent-color: #ccc;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

fa-icon {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.navbar {
  background-color: $primary-color;
}

.navbar-brand {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
  margin-left: 10px;
  color: $navigation-color;
}

.navbar-brand:hover {
  color: $navigation-accent-color;
}

.nav-link {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: $navigation-color;
  margin: 0 10px;
}

.nav-link:hover {
  color: $navigation-accent-color;
}

.active {
  color: $navigation-accent-color;
}

.search {
  border-radius: 40px;
}

.btn {
  height: 35px;
  margin: 20px;
  background-color: $secondary-color;
  color: white;
}

.btn:hover {
  border-color: $secondary-color;
  color: $secondary-color;
  background-color: white;
}

footer {
  font-size: 15px;
  padding: 50px;
  color: white;
  background-color: $dark-color;
}

.footer-content {
  margin: 50px 20%;
}

.footer-bottom-content {
  font-size: 12px;
}

.footer-links {
  color: white;
  margin: 10px 10px 0 10px;
  display: inline-block;
}

.footer-links:hover {
  color: white;
}
