@import "~@angular/material/theming";
@include mat-core();

$client-theme-primary: mat-palette($mat-blue);
$client-theme-accent: mat-palette($mat-blue, A200, A100, A400);
$client-theme-theme: mat-light-theme(
  $client-theme-primary,
  $client-theme-accent
);
@include angular-material-theme($client-theme-theme);

$primary-color: rgb(22, 87, 136);
$secondary-color: rgb(0, 153, 204);
$dark-color: rgb(7, 27, 48);
$grey-color: #dddddd;

$background-color1: white;
$background-color2: rgb(240, 240, 240);

$navigation-color: white;
$navigation-accent-color: #ccc;

$footer-text-color: rgb(192, 192, 192);

$error-red: rgb(255, 26, 26);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 15px;
}

fa-icon {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.btn {
  height: 35px;
  margin: 20px;
  background-color: $secondary-color;
  color: white;
}

.btn:hover {
  border-color: $secondary-color;
  color: $secondary-color;
  background-color: white;
}

.bottom-left {
  width: 300px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.error-label{
    width: auto;
    color: $error-red;
}