$primary-color: rgb(155, 50, 50);
$secondary-color: rgb(189, 96, 96);
$link-color: rgb(0, 0, 0);

.navbar {
  background-color: $primary-color;
}

.navbar-brand {
  color: white;
}

.nav-link {
  font-size: 15px;
  color: #ccc;
}

.nav-link:hover {
  color: white;
}

.active {
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
