<div class="card cardBox">
  <div class="row">
    <div class="col-md-3">
      <img
        src="{{ restaurant.logo_url }}"
        class="card-img"
        alt="{{ restaurant.name }}"
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">{{ restaurant.name | titlecase }}</h2>
        <p class="card-text">
          {{ restaurant.city | titlecase }} •
          {{ restaurant.cuisine | titlecase }} •
          {{ restaurant.pricepoint | titlecase }}
        </p>
        <div class="row">
          <div class="col">
            <star-rating
              value="{{ restaurant.rating }}"
              totalstars="{{ totalStars }}"
              checkedcolor="gold"
              uncheckedcolor="grey"
              size="24px"
              readonly="true"
            ></star-rating>
          </div>
          <div class="col">
            <a
              class="btn"
              [routerLink]="['/restaurant']"
              [queryParams]="{
                restaurantId: restaurant._id
              }"
              placement="top" ngbTooltip="Visit Restaurant Page"
            >
              View Restaurant
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
