<div class="card cardBox">
  <div class="row">
    <div class="col-md-3">
      <img
        src="{{ restaurant.logo }}"
        class="card-img"
        alt="{{ restaurant.name }}"
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2>{{ restaurant.name }}</h2>
        <p class="card-text">
          {{ restaurant.city }} • {{ restaurant.cuisine }} •
          {{ restaurant.pricePoint }}
        </p>
        <div class="row">
          <div class="col">
            <star-rating
              value="{{ restaurant.rating }}"
              totalstars="{{ totalStars }}"
              checkedcolor="gold"
              uncheckedcolor="grey"
              size="24px"
              readonly="true"
            ></star-rating>
          </div>
          <div class="col">
            <a href="{{ restaurant.url }}" class="btn">
              View Restaurant
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
